@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* primary colors */
  --primary-lightest: rgb(210, 251, 251);
  --primary-base: rgb(21, 197, 206);
  --primary-light: rgb(113, 236, 239);
  --primary-dark: rgb(23, 122, 135);
  --primary-darkest: rgb(27, 82, 94);

  /* secondary colors */
  --secondary-lightest: rgb(255, 226, 212);
  --secondary-light: rgb(255, 129, 86);
  --secondary-base: rgb(252, 54, 19);
  --secondary-dark: rgb(197, 16, 9);
  --secondary-darkest: rgb(126, 16, 16);
}
